/* スケジュール登録画面 */


/* スケジュール登録画面 サイド */

.side-schedule {
    position: fixed;
}

.schedule-side{
    text-align: center;
}

.schedule-side .nav-item {
    margin-top: 15px;
}

.schedule-side .nav-item a{
    color: #000;
}

.schedule-side .item:hover {
    background-color: #7d7d7d;
}

.schedule-side .my-icon {
    width: 72px;
    height: 72px;
    border: #000 1px solid;
    border-radius: 50%;
    margin: auto;
}


/* スケジュール登録  メイン */

.schedule-main {
    width: 1200px;
}

.schedule-main h3 {
    width: auto;
    text-align: center;
    margin-top: 30px;
}

.schedule-main .button {
    margin-top: 56px;
    text-align: center;
}

.schedule-main .button a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #cccccc;
    border-radius: 8px;
}

.schedule-main .button .create:hover {
    color: #000;
    font-size: 17px;
}

.schedule-main .main-section {
    padding-left: 290px;
    margin-top: 32px;
}

.schedule-main .main-section h4 {
    margin-top: 36px;
}

.schedule-main .main-section div {
    display: flex;
}

.schedule-main .main-section .schedule-element div {
    margin-right: 36px;
    padding: 8px 10px;
    font-size: 24px;
    border-radius: 8px;
}

.schedule-main .main-section div .schedule {
    background-color: #cccccc;
    width: 480px;
}

.schedule-main .main-section div .period {
    height: 52px;
    font-size: 20px;
}

.schedule-main .main-section div a .schedule-detail {
    background-color: #949494;
    height: 52px;
    border-radius: 8px;
}

.schedule-main .main-section .schedule-element a:hover {
    color: #000;
}

.schedule-main .main-section .date{
    display: flex;
    margin-top: 24px;
}

.schedule-main .main-section .date select {
    margin-right: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 24px;
    background-color: #cccccc;
    border-radius: 8px;
}

.schedule-main .main-section .time {
    margin-top: 24px;
}

.schedule-main .main-section .time label {
    font-size: 24px;
    font-weight: 400;
    margin-right: 36px;
}

.schedule-main .main-section .time select {
    background-color: #cccccc;
    height: 36px;
    border-radius: 8px;
}

.schedule-main .main-section .time .minute {
    margin-right: 36px;
}


.schedule-main .main-section .schedule_name{
    margin-top: 12px;
    background-color: #cccccc;
    width: 600px;
    height: 40px;
    border: none;
    border-radius: 8px;
}

.schedule-main .main-section .location{
    margin-top: 12px;
    background-color: #cccccc;
    width: 600px;
    height: 40px;
    border: none;
    border-radius: 8px;
}

.schedule-main .main-section .schedule_color {
    margin-top: 16px;
}

.schedule-main .main-section .belongings-title{
    display: flex;
    margin-top: 48px;
    margin-bottom: 16px;
}

.schedule-main .main-section .belongings-title h4{
    margin-top: 0px;
    margin-right: 100px;
}

.schedule-main .main-section .belongings-title .equipment_search{
    height: 40px;
    margin-right: 120px;
    background-color: #cccccc;
    border: none;
    border-radius: 8px;
}

.schedule-main .main-section .belongings-title .search {
    margin-right: 80px;
    background-color: #cccccc;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

.schedule-main .main-section .belongings-title .sort {
    background-color: #cccccc;
    height: 50px;
    padding: 0 16px;
    border-radius: 8px;
}

.schedule-main .main-section .belongings-content {
    display: flex;
}

.schedule-main .main-section .belongings-content div {
    height: 40px;
    font-size: 24px;
    border: #000 1px solid;
    background-color: #cccccc;
}

.schedule-main .main-section .belongings-content .checkbox {
    width: 120px;
}

.schedule-main .main-section .belongings-content .checkbox .checkbox_icon{
    margin: 0 40px;
}

.schedule-main .main-section .belongings-content .equipment-name {
    width: 360px;
    padding-left: 8px;
}

.schedule-main .main-section .belongings-content .edit {
    width: 90px;
    padding-left: 18px;
}

.schedule-main .main-section .belongings-content .equipment_genre {
    width: 120px;
    padding-left: 8px;
}

.schedule-main .main-section .belongings-content .manufacturer {
    width: 120px;
    padding-left: 8px;
}




.schedule-main .main-section .register {
    margin-top: 36px;
    margin-left: 320px;
    margin-bottom: 120px;
    width: 120px;
    height: 48px;
    border: none;
    background-color: #cccccc;
    font-size: 24px;
    border-radius: 8px;
}

.schedule-main .main-section .button {
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}

.schedule-main .main-section .button button {
    border: none;
    padding: 8px 16px;
    background-color: #cccccc;
    border-radius: 8px;
}

.schedule-main .main-section .button a .delete-button {
    background-color: #cccccc;
    padding: 8px 16px;
    border-radius: 8px;
}

.schedule-main .main-section .button a .delete-button:hover {
    color: #000;
}


/* スケジュール削除画面 */

.destroy-section {
    width: 300px;
    margin: auto;
    margin-top: 120px;
}

.destroy-section h2 {
    text-align: center;
    margin-bottom: 32px;
}

.destroy-section h4 {
    margin-top: 8px;
    margin-bottom: 16px;
}

.destroy-section .data {
    margin-bottom: 32px;
    font-size: 24px;
    padding-left: 16px;
}

.destroy-section .button {
    text-align: center;
}

.destroy-section div button {
    border: none;
    display: inline-block;
    margin: auto;
    background-color: #cccccc;
    padding: 8px 16px;
    border-radius: 8px;
}